:root {
  --background:#FFFFFF;
  --text-color:#667085;
  --main-color:#8E2424;
  --secondary-color:#101828;
  --principal-font: 'Inter', sans-serif;
}

body, body a {
  background-color: var(--background);
  color: var(--text-color);
  font-family: var(--principal-font);
  font-size: 16px;
  font-weight: 500;
}

/* ---------- NAVBAR ----------*/

.cabecalho {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2.5em 0 0 15em;
}

.cabecalho-logo {
  margin-right: 5em;
}

.lista-menu__item{
  padding: 0 1em;
}

.cabecalho-botao{
  margin-left: 5em;
}

.botao-entrar {
  margin: 0 1em 0 3em ;
}

.botao-cadastrar {
  background: var(--main-color);
  color: var(--background);
  padding: 1em;
  border-radius: 8px;
}

.lista-menu {
  display: flex;
  margin-left: 5em;
  gap: 2em;
}

/* ---------- ABOUT ----------*/

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10em 0;
  gap: 24px;
}

.about-our {
  font-weight: 600;
  color: var(--main-color);
}

.about-question {
  font-weight: 600;
  font-size: 48px;
  color: var(--secondary-color);
}

.about-text {
  font-size: 20px;
  width: 40em;
  text-align: center;
}