:root {
  --background:#FFFFFF;
  --secondary-background: rgba(142, 36, 36, 0.05);
  --text-color:#667085;
  --main-color:#8E2424;
  --secondary-color:#101828;
  --principal-font: 'Inter', sans-serif;
  --border: #EAECF0;
}

body, body a {
  background-color: var(--background);
  color: var(--text-color);
  font-family: var(--principal-font);
  font-size: 16px;
  font-weight: 500;
}

/* ---------- NAVBAR ----------*/

.cabecalho {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2.5em 0 0 15em;
}

.cabecalho-logo {
  margin-right: 5em;
}

.lista-menu__item{
  padding: 0 1em;
}

.cabecalho-botao{
  margin-left: 5em;
}

.botao-entrar {
  margin: 0 1em 0 3em ;
}

.botao-cadastrar {
  background: var(--main-color);
  color: var(--background);
  padding: 1em;
  border-radius: 8px;
}

.lista-menu {
  display: flex;
  margin-left: 5em;
  gap: 2em;
}

/* ---------- ABOUT ----------*/

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 7em 0;
  gap: 24px;
}

.about-our {
  font-weight: 600;
  color: var(--main-color);
}

.about-question {
  font-weight: 600;
  font-size: 48px;
  color: var(--secondary-color);
}

.about-text {
  font-size: 20px;
  width: 40em;
  text-align: center;
}

/* ---------- MÉTRICAS ----------*/

.metricas-container {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 0 7em 4em;
}

.metricas-space {
  margin-left: 2.5em;
  width: 30em;
}


.metricas-titulo {
  color: var(--main-color);
  font-weight: 600;
  font-size: 60px;
}

.metricas-subtitle {
  color: var(--secondary-color);
  font-size: 18px;
}

/* ---------- jobs ----------*/

.jobs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jobs__title {
  background-color: var(--secondary-background);
  padding: 0.25em 0.75em;
  border-radius: 1em;
  color: var(--main-color);
  font-size: 14px;
}

.jobs__subtitle {
  margin: 1em 0;
  font-weight: 600;
  font-size: 32px;
  color: var(--secondary-color);
}

.jobs__text {
  font-size: 20px;
  font-weight: 400;
}

.jobs__image {
  margin: 4em 0;
}

.jobs-list {
  padding: 0 15em;
}

.jobs-list__title {
  font-size: 20px;
  font-weight: 500;
  color: var(--secondary-color);
}

.jobs-description {
  font-size: 18px;
  font-weight: 500;
  color: var(--secondary-color);
  margin: 2em 0;
}

.jobs-list-ul {
  padding: 0 2em;
}

.jobs-list__li {
  width: 90%;
  margin: 2em 0;
  padding: 0.5em;
  border: 1px solid var(--border);
  border-radius: 1em;
}

.jobs-description{
  display: flex;
  padding: 0 1em;
}

.jobs-list__item {
  display: flex;
  gap: 2em;
  padding: 0 0 1em 1em;
}