:root {
  --background: #FFFFFF;
  --text-color: #667085;
  --main-color: #8E2424;
}

body, body a {
  background-color: var(--background);
  color: var(--text-color);
}


.cabecalho {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 0 0 15em;
}

.cabecalho-logo {
  margin-right: 5em;
}

.lista-menu__item{
  padding: 0 1em;
}

.cabecalho-botao{
  margin-left: 5em;
}

.botao-entrar {
  margin: 0 1em 0 3em ;
}

.botao-cadastrar {
  background: var(--main-color);
  color: var(--background);
  padding: 1em;
  border-radius: 8px;
}

.lista-menu {
  display: flex;
  margin-left: 5em;
  gap: 2em;
}
